<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">Agregar Orden</h5>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="closeModal(false)"></button>
    </div>
    <div class="modal-body">
      <form class="">
        <div class="alert alert-danger" *ngIf="alertDangerIsActive">
          Debe completar todos los campos
        </div>
        <div class="alert alert-primary" *ngIf="alertSuccessIsActive">
          Orden guardada correctamente
        </div>
        <input [(ngModel)]="orden.cantidad" name="Cantidad" class="form-control my-2" type="number" placeholder="Cantidad">

        <select [(ngModel)]="orden.productoId" name="productoId" class="form-control my-2">
          <option *ngFor="let producto of Productos" value="{{producto.productosId}}">{{producto.nombre}}</option>
        </select>

        <select [(ngModel)]="orden.clienteId" name="clienteId" class="form-control my-2">
          <option *ngFor="let cliente of Clientes" value="{{cliente.clientesId}}">{{cliente.nombre}}</option>
        </select>

        <select [(ngModel)]="orden.estado" name="Estado" class="form-control my-2">
          <option value="false">Activo</option>
          <option value="true">Inactivo</option>
        </select>

      </form>
    </div>
    <div class="modal-footer">
      <button type="button" id="closeModal" class="btn btn-secondary" data-bs-dismiss="modal" (click)="closeModal(false)">Cerrar</button>
      <button type="button" class="btn btn-primary" (click)="procesarFormulario($event)">Guardar</button>
    </div>
  </div>
</div>
