<h1 id="tableLabel">Lista de clientes</h1>

<p *ngIf="!clientes"><em>Loading...</em></p>


<div *ngIf="clientes">
  <div class="row m-0 justify-content-between">
    <a class="btn btn-success m-2 ms-0" [routerLink]="['/clientes/add']" style="max-width: 100px">Agregar</a>
    <input type="text" placeholder="Search" class="form-control" style="width: 200px" [(ngModel)]="searchText" (ngModelChange)="onSearch()" />
  </div>
  <table id="myTable" class='table table-striped text-center' aria-labelledby="tableLabel" *ngIf="clientes">
    <thead>
      <tr>
        <th>ClientesId</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Email</th>
        <th>Estado</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cliente of clientes">
        <td>{{ cliente.clientesId }}</td>
        <td>{{ cliente.nombre }}</td>
        <td>{{ cliente.apellido }}</td>
        <td>{{ cliente.email }}</td>
        <td>{{ cliente.estado }}</td>
        <td>
          <a class="btn btn-warning me-2" [routerLink]="['/clientes/edit/'+cliente.clientesId]">Editar</a>
          <button class="btn btn-danger" (click)="OnDeleteCliente(cliente.clientesId)">Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
