<main class="container pt-5 row m-0">
  <form class="m-auto col-12 col-md-8 col-lg-6 border shadow p-4">
    <h2 class="mb-3">Agregar Producto</h2>
    <div class="alert alert-danger" *ngIf="alertDangerIsActive">
      Debe completar todos los campos
    </div>
    <div class="alert alert-primary" *ngIf="alertSuccessIsActive">
      Producto guardado correctamente
    </div>
    <input [(ngModel)]="producto.nombre" name="Nombre" class="form-control my-2" type="text" placeholder="Nombre">
    <input [(ngModel)]="producto.tipo" name="Tipo" class="form-control my-2" type="text" placeholder="Tipo">
    <input [(ngModel)]="producto.cantidad" name="Cantidad" class="form-control my-2" type="number" placeholder="Cantidad">
    <input [(ngModel)]="producto.precio" name="precio" class="form-control my-2" type="number" placeholder="precio">
    <select [(ngModel)]="producto.estado" name="Estado" class="form-control my-2">
      <option value="false">Activo</option>
      <option value="true">Inactivo</option>
    </select>
    <a class="btn btn-danger px-2 me-2"[routerLink]="['/product-list']">Cancelar</a>
    <button class="btn btn-primary px-2 me-3 " (click)="procesarFormulario($event)">Guardar</button>
  </form>
</main>
